{% extends 'admin/admin-index.html' %}
{% load static %}

{% block content %}
    <h1 class="mt-4">View Secretary</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">View Secretary</li>
    </ol>
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <p id="messages">{{ message }}</p>
    </div>
    {% endfor %}
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Secretary Table
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Secretary ID</th>
              <th>Secretary Name</th>
              <th>Email</th>
              <th>Username</th>
              <th>Contact</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Secretary ID</th>
              <th>Secretary Name</th>
              <th>Email</th>
              <th>Username</th>
              <th>Contact</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
          {% for s in secretaries %}
            <tr>
              <td>{{ s.get_id }}</td>
              <td>{{ s.get_name }}</td>
              <td>{{ s.get_email }}</td>
              <td>{{ s.get_username }}</td>
              <td>{{ s.phone_number }}</td>
              <td>
                  <a class="link-success p-1 h5" href="{% url 'update-secretary' s.id  %}"  ><i class="fa-solid fa-pen-to-square"></i></a>
                  <a class="link-danger p-1 h5" href="{% url 'delete-secretary' s.id  %}"  ><i class="fa-solid fa-trash-can"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock content %}