{% extends 'admin/admin-index.html' %}
{% load static %}

{% block content %}
    <h1 class="mt-4">Add Student</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Add Student</li>
    </ol>
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        <p id="messages">{{ message }}</p>
      </div>
    {% endfor %}
    <div class="card mb-4">
      <div class="card-header">
        <i class="fa-solid fa-pen-to-square"></i>
        Add Student
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="id_first_name">First name</label>
{#                <input type="text" name="first_name" maxlength="30" id="id_first_name" class="form-control">#}
                <input class="form-control" id="id_first_name" type="text" name="first_name" maxlength="150"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="id_last_name">Last name</label>
                <input class="form-control" id="id_last_name" type="text" name="last_name" maxlength="150" />
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="id_username">Username</label>
            <input class="form-control" id="id_username" type="text" name="username" maxlength="150" required=""/>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="id_email">Email</label>
            <input class="form-control" id="id_email" type="email" name="email" maxlength="254"/>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="id_password1">Password</label>
            <input class="form-control" id="id_password1" type="password" name="password1" autocomplete="new-password" required=""/>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="id_password2">Confirm Password</label>
            <input class="form-control" id="id_password2" type="password" name="password2" autocomplete="new-password" required=""/>
          </div>

          <!-- Number input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="id_phone_number">Phone</label>
            <input class="form-control" id="id_phone_number" type="text" name="phone_number" maxlength="40" required=""/>
          </div>

          <!-- Message input -->
{#          <div class="form-outline mb-4">#}
{#            <label class="form-label" for="form6Example7">Additional information</label>#}
{#            <textarea class="form-control" id="form6Example7" rows="4"></textarea>#}
{#          </div>#}

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>
      </div>
    </div>
{% endblock content %}