{% extends 'admin/admin-index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h1 class="mt-4">Update Student Information</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/admin-view-student">View Students</a></li>
        <li class="breadcrumb-item active">Update Student Information</li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fa-solid fa-pen-to-square"></i>
        Add Student
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">First name</label>
{#                <input type="text" name="first_name" maxlength="30" id="id_first_name" class="form-control">#}
                {% render_field form1.first_name class="form-control" placeholder="First Name" %}
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Last name</label>
{#                <input type="text" name="last_name" maxlength="150" id="id_last_name" class="form-control">#}
                {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Username</label>
{#            <input type="text" name="username" maxlength="150" required="" id="id_username" class="form-control">#}
            {% render_field form1.username class="form-control" placeholder="Username" %}

          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example5">Email</label>
{#            <input type="email" name="email" maxlength="254" id="id_email" class="form-control">#}
            {% render_field form1.email class="form-control" placeholder="Email" %}
          </div>

          <!-- Number input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example6">Phone</label>
{#            <input type="text" name="mobile" maxlength="40" required="" id="id_mobile" class="form-control">#}
            {% render_field form2.phone_number class="form-control" placeholder="Contact" %}
          </div>

          <!-- Message input -->
{#          <div class="form-outline mb-4">#}
{#            <label class="form-label" for="form6Example7">Additional information</label>#}
{#            <textarea class="form-control" id="form6Example7" rows="4"></textarea>#}
{#          </div>#}

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
        </form>
      </div>
    </div>
{% endblock content %}